mixin carousel
	.carousel
		ul.carousel__ul
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-1.jpg", alt="#")
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-2.jpg", alt="#")
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-3.jpg", alt="#")
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-4.jpg", alt="#")
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-5.jpg", alt="#")
			li.carousel__li
				a.carousel__a(href="#") 
					img.carousel__img(src="assets/images/content/letter-6.jpg", alt="#")
						
		//- .carousel__nav
			a.carousel__nav__a.carousel__nav__a--back(href="#") Назад
			a.carousel__nav__a.carousel__nav__a--next(href="#") Вперед