mixin form3
	section.form3
		form.form3__entry(action="#" method=post)
			.form3__wrap
				.form3__desc
					h3.form2__subtitle Получи  50 бонусов!
					p.form2__text Введи данные, приходи к нам и получи скидку!!!
				.form__row
					.form__input
						input(type="text", placeholder="Ваше ФИО")
					.form__input
						input(type="text", placeholder="Ваш номер телефона (без +7)")
					.form__submit
						input(type="submit", value="Отправить заявку")