mixin features
	section.features
		.features__in
			h2.features__title Почему мы
			ul.features__ul
				li.features__i.features__i--1
					.features__icon
					.features__text 5 лет на рынке
				li.features__i.features__i--2
					.features__icon
					.features__text выполнили более <br/>30 000 заказов
				li.features__i.features__i--3
					.features__icon
					.features__text время выполнения заказа от 40 минут
				li.features__i.features__i--4
					.features__icon
					.features__text автоматическое смс оповещение о готовности заказа
				li.features__i.features__i--5
					.features__icon
					.features__text получение скидки в виде списание накопленных бонусных балов
				li.features__i.features__i--6 
					.features__icon
					.features__text большой выбор фурнитуры