@css {
	@font-face {
		font-family: 'pf_dintext_proextra_black';
		src: url('../fonts/extrablack/pfdintextpro-xblack-webfont.eot');
		src: url('../fonts/extrablack/pfdintextpro-xblack-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/extrablack/pfdintextpro-xblack-webfont.woff2') format('woff2'),
			 url('../fonts/extrablack/pfdintextpro-xblack-webfont.woff') format('woff'),
			 url('../fonts/extrablack/pfdintextpro-xblack-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'pf_dintext_promedium';
		src: url('../fonts/medium/pfdintextpro-medium-webfont.eot');
		src: url('../fonts/medium/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/medium/pfdintextpro-medium-webfont.woff2') format('woff2'),
			 url('../fonts/medium/pfdintextpro-medium-webfont.woff') format('woff'),
			 url('../fonts/medium/pfdintextpro-medium-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	@font-face {
		font-family: 'pf_dintext_probold';
		src: url('../fonts/bold/pfdintextpro-bold-webfont.eot');
		src: url('../fonts/bold/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bold/pfdintextpro-bold-webfont.woff2') format('woff2'),
			 url('../fonts/bold/pfdintextpro-bold-webfont.woff') format('woff'),
			 url('../fonts/bold/pfdintextpro-bold-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	@font-face {
		font-family: 'pf_dintext_prothin';
		src: url('../fonts/thin/pfdintextpro-thin-webfont.eot');
		src: url('../fonts/thin/pfdintextpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
			 url('..//fonts/thin/pfdintextpro-thin-webfont.woff2') format('woff2'),
			 url('../fonts/thin/pfdintextpro-thin-webfont.woff') format('woff'),
			 url('../fonts/thin/pfdintextpro-thin-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	@font-face {
		font-family: 'pf_dintext_proregular';
		src: url('../fonts/regular/pfdintextpro-regular-webfont.eot');
		src: url('../fonts/regular/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/regular/pfdintextpro-regular-webfont.woff2') format('woff2'),
			 url('../fonts/regular/pfdintextpro-regular-webfont.woff') format('woff'),
			 url('../fonts/regular/pfdintextpro-regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	@font-face {
		font-family: 'pf_dintext_proitalic';
		src: url('../fonts/italic/pfdintextpro-italic-webfont.eot');
		src: url('../fonts/italic/pfdintextpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/italic/pfdintextpro-italic-webfont.woff2') format('woff2'),
			 url('..//fonts/italic/pfdintextpro-italic-webfont.woff') format('woff'),
			 url('../fonts/italic/pfdintextpro-italic-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}

}