mixin hero 
	section.hero
		.hero__wrap
			.hero__in
				h1.hero__title Ремонт одежды в Омске
				p.hero__text Заменить молнию? / Укоротить дублёнку? Подогнать шубу? / Подшить штаны? Поставить кнопку?/ <br/>Обращайтесь и наши мастера помогут Вам!
				.form.form--hero
					.form__wrap
						h3.form__title Получи  50 бонусов!
						p.form__text Введи данные, приходи к нам и получи скидку!!!
						form.form__entry(action="#" method="post")
							.form__input
								input(type="text", placeholder="Ваше ФИО", value="")
							.form__input
								input(type="text", placeholder="Ваш номер телефона (без +7)", value="")
							.form__submit
								input(type="submit" value="Отправить заявку")
							.form__note Акция действует только для новых клиентов!


