mixin map
	section.map
		.map__obj#map
		.map__in
			ul.map__ul
				li.map__i.map__i--style-1(data-goto="Москва")
				li.map__i.map__i--style-2(data-goto="Санкт-Петербург")
				li.map__i.map__i--style-3(data-goto="Екатеринбург")
				li.map__i.map__i--style-4(data-goto="Одесса")
			.map__shop
				.map__shop__w
					.shop__i
						a.shop__title(href="#") МЕГА  ( напротив выхода из ИКЕА)
						.shop__address г.Омск, ул .Бульвар Архитекторов, 35 
						.shop__phone +7 904 072 0985
						.shop__time 10:00-22:00
					.shop__i
						a.shop__title(href="#") ГМ "О’КЕЙ"
						.shop__address г.Омск, ул. Энтузиастов, 2 корп. 1 , 
						.shop__phone +7 9 08 311 8000
						.shop__time 10:00 - 22:00
					.shop__i 
						a.shop__title(href="#") О'КЕЙ-Экспресс
						.shop__address г. Омск, ул. 70 лет Октября, 7 
						.shop__phone +7 904 320 1133
						.shop__time 10:00-22:00
					.shop__i
						a.shop__title(href="#") Лента
						.shop__address г. Омск, ул. Красноярский тракт 22а
						.shop__phone +7 933 302 9970
						.shop__time 10:00-21:00 