.video
	position relative
	background $color-gray 
	&:before
		position absolute
		top -25px
		width 100%
		height 25px
		background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAAAZBAMAAAB3M+XvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURQAAAPX19fz8/Pb29vr6+v7+/vf39/v7+/j4+Pn5+f39/f///0DfllkAAAABdFJOUwBA5thmAAABI0lEQVQoz9WQv0/CQBTHXwiNP7avRwrdmrYhwe0aXZyoQWcGI4GNxJiOihIHFmOigyzi6ERQFydjHPjzeO8g0ELr7nfovd597vu994iSsia3d/tNytfPKVgXbi5w1oVRZZAHaED1W+abCfzyEfaIfF7srKCCibgn2jZB4w3AGpknvBDtmOLgex24AZzPCEPxKHUYD9eIKl8bUhFloms2kqTnFNAW4yvaBd4+gDFt8a86SfZpoutCiFxDwB6kB6FxSNM58UjnAO/Zi7FYNbF036Eai5naDY2jglw7lo6CS9l05sYr1cm0H/e+SNYnJoqbRCxThhAlS6u+nybCllbNKEEgQwmCUzIVY0n8qf9EPFTRiypetxxI6UWOp8MAr77yRlLWZiCESSV6IcaMAAAAAElFTkSuQmCC') repeat-x
		content ""
	&__in
		margin auto
		padding-top 5px
		padding-bottom 19px
		width 1015px
		text-align center
		overflow hidden
	&__title
		position relative
		padding-bottom 27px
		@extend .title
		&__icon
			position absolute
			bottom -7px
			left 50%
			margin-left  -14px
			display block
			sprite($video-icon)
	&__ul
		margin-left -16px
		font-size 0
		text-align left
		overflow hidden
	&__i
		margin-left 16px
		margin-bottom 10px
		display inline-block
		width 492px
		min-height 278px 
		vertical-align top
		text-align center
	&__caption
		padding-top ((36px - 17px) / 2) 
		padding-bottom ((36px - 17px) / 2)
		min-height 36px
		font-reg(16px,1.2)
		color $color-videotext
		&__a
			text-decoration underline
			color $color-videolink
			&:hover
				text-decoration none
	&__obj
		width 492px
		height 278px 
+from-width(0)
	.video
		&__in
			width auto
		&__ul
			text-align center
		&__i
			width auto
			min-height auto 
		&__obj
			max-width 100%
			width auto
			height auto
			img
				max-width 100%


+from-width(1017px)
	.video
		&__in
			margin auto
			width 1015px
		&__i
			width 492px
			min-height 278px 
		&__obj
			max-width 100%
			width 492px
			height 278px
		
