mixin video
	section.video
		.video__in
			h2.video__title Видео отзывы 
				span.video__title__icon
			ul.video__ul
				li.video__i
					.video__caption
						a.video__caption__a(href="#") Анастасия Гиль
						| , дизайнер-оформитель
					a.video__obj(href="#")
						img(src="assets/images/content/video-1.jpg", alt="#")
				li.video__i
					.video__caption
						a.video__caption__a(href="#") Павел Дерябин
						| , Директор ООО "ПМП Омск"
					a.video__obj(href="#")
						img(src="assets/images/content/video-2.jpg", alt="#")
				li.video__i
					.video__caption
						a.video__caption__a(href="#") Юлия Полукеева
						| , ведущий инженер. Земельная кадастровая палата
					a.video__obj(href="#")
						img(src="assets/images/content/video-3.jpg", alt="#")
				li.video__i
					.video__caption
						a.video__caption__a(href="#") Беликова Валентина
						| , продавец-консультант
					a.video__obj(href="#")
						img(src="assets/images/content/video-4.jpg", alt="#") 