mixin companies
	section.companies
		.companies__in
			h2.companies__title С кем мы работаем   
			ul.companies__list
				li.companies__i.companies__i--1 Ikea
				li.companies__i.companies__i--2 benetton
				li.companies__i.companies__i--3 bohemia
				li.companies__i.companies__i--4 levi's
				li.companies__i.companies__i--5 mexx 
				li.companies__i.companies__i--6 westland
				li.companies__i.companies__i--7 koton