mixin header
	header.header
		.header__in
			.logo
			nav.nav
				ul.nav__ul
					li.nav__li.nav__li--1
						a.nav__a(href="#", title="#") Мастерица
					li.nav__li.nav__li--2
						a.nav__a(href="#", title="#") О нас
					li.nav__li.nav__li--3
						a.nav__a(href="#", title="#") Услуги
					li.nav__li.nav__li--4
						a.nav__a(href="#", title="#") Акции
					li.nav__li.nav__li--5
						a.nav__a(href="#", title="#") Контакты
			.time.time--top
				.time__val с 10:00 до 22:00
				.time__text без обеда и выходных
			.phone.phone--top
				.phone__val +7 (904) 072 09 85
				.email.email--header
					a.email__a(href="#") masteriza.manager@gmail.com
			ul.social
				li.social__li
					a.social__a.social__a--style-1(href="#", title="#") 
						+icon("vk")
				li.social__li
					a.social__a.social__a--style-2(href="#", title="#") 
						+icon("ok")
				li.social__li
					a.social__a.social__a--style-3(href="#", title="#") 
						+icon("lj")