mixin form2
	section.form2
		.form2__in
			h2.form2__title Вся фурнитура входит в стоимость
			form.form2__entry(action="#" method=post)
				.form2__wrap
					.form2__desc
						h3.form2__subtitle Получи  50 бонусов!
						p.form2__text Введи данные, приходи к нам и получи скидку!!!
					.form__row
						.form__input
							input(type="text", placeholder="Ваше ФИО")
						.form__input
							input(type="text", placeholder="Ваш номер телефона (без +7)")
						.form__submit
							input(type="submit", value="Отправить заявку")
