mixin footer
	footer.footer
		.footer__in
			.footer__logo
			nav.footer__nav
				ul.footer__ul
					li.footer__i
						a.footer__a(href="#") Мастерица
					li.footer__i
						a.footer__a(href="#") О нас
					li.footer__i
						a.footer__a(href="#") Услуги
					li.footer__i
						a.footer__a(href="#") Акции
					li.footer__i
						a.footer__a(href="#") Контакты
						
			.footer__contacts
				.phone
					.phone__val +7 (904) 072 09 85
					.email 
						a.email__a(href="#") masteriza.manager@gmail.com

			.footer__copyright 2015 © Ремонт одежды в Омске 