mixin slider
	.slider
		ul.slider__ul
			li.slider__li
				.slider__desc
					h3.slider__title Ремонт куртки
					p.slider__text Наш мастер сделала ремонт любимой куртки клиентки и привела в порядок вещь.
				.slider__img.slider__img--1
					img(src="assets/images/content/work-1.jpg", alt="work image")
				.slider__img.slider__img--2
					img(src="assets/images/content/work-2.jpg", alt="work image")
			li.slider__li
				.slider__desc
					h3.slider__title Ремонт куртки
					p.slider__text Наш мастер сделала ремонт любимой куртки клиентки и привела в порядок вещь.
				.slider__img.slider__img--1
					img(src="assets/images/content/work-1.jpg", alt="work image")
				.slider__img.slider__img--2
					img(src="assets/images/content/work-2.jpg", alt="work image")
			li.slider__li
				.slider__desc
					h3.slider__title Ремонт куртки
					p.slider__text Наш мастер сделала ремонт любимой куртки клиентки и привела в порядок вещь.
				.slider__img.slider__img--1
					img(src="assets/images/content/work-1.jpg", alt="work image")
				.slider__img.slider__img--2
					img(src="assets/images/content/work-2.jpg", alt="work image")
			li.slider__li
				.slider__desc
					h3.slider__title Ремонт куртки
					p.slider__text Наш мастер сделала ремонт любимой куртки клиентки и привела в порядок вещь.
				.slider__img.slider__img--1
					img(src="assets/images/content/work-1.jpg", alt="work image")
				.slider__img.slider__img--2
					img(src="assets/images/content/work-2.jpg", alt="work image")
			li.slider__li
				.slider__desc
					h3.slider__title Ремонт куртки
					p.slider__text Наш мастер сделала ремонт любимой куртки клиентки и привела в порядок вещь.
				.slider__img.slider__img--1
					img(src="assets/images/content/work-1.jpg", alt="work image")
				.slider__img.slider__img--2
					img(src="assets/images/content/work-2.jpg", alt="work image")

		ul.slider__pag
			li.slider__pag__li
				a.slider__pag__a(href="#1" data-slide-index="0") 1
			li.slider__pag__li
				a.slider__pag__a(href="#2" data-slide-index="1") 2
			li.slider__pag__li
				a.slider__pag__a(href="#3" data-slide-index="2") 3
			li.slider__pag__li
				a.slider__pag__a(href="#4" data-slide-index="3") 4
			li.slider__pag__li
				a.slider__pag__a(href="#5" data-slide-index="4") 5

		//- .slider__nav
			a.slider__nav__a.slider__nav__a--back(href="#") 
			a.slider__nav__a.slider__nav__a--next(href="#") 