mixin price
	section.price
		.price__wrap
			.price__in
				h2.price__title Прайс лист
				ul.price__list
					li.price__row
						.price__i
							span.price__text подшив джинсовых брюк
							span.price__val 200 руб.
						.price__i
							span.price__text установка кнопки
							span.price__val 500 руб.
					li.price__row
						.price__i
							span.price__text укорочение низа юбки
							span.price__val 300 руб.
						.price__i
							span.price__text ушивание брюк по боковым швам
							span.price__val от 250 руб.
					li.price__row
						.price__i
							span.price__text подшив брюк классика
							span.price__val 300 руб.
						.price__i
							span.price__text ушивание брюк в поясе
							span.price__val от 350 руб.
					li.price__row
						.price__i
							span.price__text сохранение оригинального низа джинс
							span.price__val 350 руб.
						.price__i
							span.price__text замена молнии в юбке
							span.price__val от 300 руб.
					li.price__row
						.price__i
							span.price__text восстановление строчки 
							span.price__val от 100 руб.
						.price__i
							span.price__text Замена молнии в платье 
							span.price__val от 400 руб.
					li.price__row
						.price__i
							span.price__text подшив трикотажных брюк
							span.price__val 350 руб.
						.price__i
							span.price__text Изменение длины рукава пиджака
							span.price__val 650 руб.
					li.price__row
						.price__i
							span.price__text подшив футболки
							span.price__val от 350 руб.
						.price__i
							span.price__text Замена молнии в куртке
							span.price__val от 500 руб.
					li.price__row
						.price__i
							span.price__text выравнивание низа платья
							span.price__val 200 руб.
						.price__i
							span.price__text Замена шубных крючков пара
							span.price__val 250 руб.