mixin bonus
	section.bonus
		.bonus__in
			h2.bonus__title Как работает бонусная система
			ul.bonus__steps
				li.bonus__step.bonus__step--style-1
					.bonus__icon
					p.bonus__text Вы заполняете форму на сайте, <br/>программа начисляет <br/>на ваше имя 50 руб.(бонусы)
				li.bonus__step.bonus__step--style-2
					.bonus__icon
					p.bonus__text Приносите к нам заказ
				li.bonus__step.bonus__step--style-3
					.bonus__icon
					p.bonus__text Мастер определяется со стоимостью заказа и предлагает списать имеющиеся у Вас бонусы.
				li.bonus__step.bonus__step--style-4
					.bonus__icon
					p.bonus__text Через 5 дней Вам начислятся новые балы
				li.bonus__step.bonus__step--style-5
					.bonus__icon
					p.bonus__text Получаете sms о готовности и забираете заказ